#resultSection {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resultContainer {
  align-self: flex-start;
  margin-top: 1.5rem;
}

.result {
  border: 2px solid #2196f3;
  padding: 1rem;
}
